/Data Class dan Collections/Data Class/Create variables based on data class objects/build/classes/java/main/META-INF
/Data Class dan Collections/Sequences/Sequences Initialization with generateSequence/build/classes/java/main/META-INF